<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>comeit(커밋)</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicons/favicon.ico">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="images/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" />

</head>

<body>
    <header id="header">
        헤더 삽입부
    </header>

    <section id="join-section">
        <h2 id="join-h2">회원가입</h2>
        <p class="text-center">IT 스터디를 위한 플랫폼</p>
        <br />
        <form id="join-form" class="my-3 d-block">
            <div>
                <label for="join-id" class="fs--1">아이디</label>
                <input id="join-id" name="joinId" class="form-control me-2 mb-2" type="id" placeholder="id" />
            </div>
            <div>
                <label for="password" class="fs--1">비밀번호</label>
                <input id="password" name="password" class="form-control me-2 mb-2" type="password" placeholder="******" />
            </div>
            <div>
                <label for="password-check" class="fs--1">비밀번호 확인</label>
                <input id="password-check" class="form-control me-2 mb-2" type="password" placeholder="******" aria-label="Search" />
            </div>
            <div>
                <button class="btn btn-primary mt-5 container" type="submit">가입하기</button>
            </div>
        </form>
    </section>

    <footer id="footer">
        푸터 삽입부
    </footer>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/js/vendor/@popperjs/popper.min.js"></script>
    <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/js/vendor/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/js/vendor/fontawesome/all.min.js"></script>
    <script src="/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</body>
</html>
