<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>comeit(커밋)</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicons/favicon.ico">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

   <link href="/css/theme.css" rel="stylesheet" />
</head>
<body>
<main class="main" id="top">

  <header id="header">
    헤더 삽입부
  </header>

<!--  <div class="row">-->
<!--    <section class="col-md-3 col-lg-4 order-md-last">-->
<!--      <aside>-->
<!--        <p><span id="nickname">nana</span></p>-->
<!--        <p><a id="email" href="mailto:nana@gmail.com">nana@mail.com</a></p>-->
<!--        <p><time id="created-at" datetime="2022-01-01T00:00:00">2022-01-01</time></p>-->
<!--        <p><span id="hashtag">#java</span></p>-->
<!--      </aside>-->
<!--    </section>-->

<!--    <article id="article-content" class="col-md-9 col-lg-8">-->
<!--      <pre>본문</pre>-->
<!--    </article>-->
<!--  </div>-->

<!--  <div class="row g-5" id="article-buttons">-->
<!--    <form id="delete-article-form">-->
<!--      <div class="pb-5 d-grid gap-2 d-md-block">-->
<!--        <a class="btn btn-success me-md-2" role="button" id="update-article">수정</a>-->
<!--        <button class="btn btn-danger me-md-2" type="submit">삭제</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--  <div class="row g-5">-->
<!--    <section>-->
<!--      <form class="row g-3" id="comment-form">-->
<!--        <input type="hidden" class="article-id">-->
<!--        <div class="col-md-9 col-lg-8">-->
<!--          <label for="comment-textbox" hidden>댓글</label>-->
<!--          <textarea class="form-control" id="comment-textbox" placeholder="댓글 쓰기.." rows="3" required></textarea>-->
<!--        </div>-->
<!--        <div class="col-md-3 col-lg-4">-->
<!--          <label for="comment-submit" hidden>댓글 쓰기</label>-->
<!--          <button class="btn btn-primary" id="comment-submit" type="submit">쓰기</button>-->
<!--        </div>-->
<!--      </form>-->

<!--      <ul id="article-comments" class="row col-md-10 col-lg-8 pt-3">-->
<!--        <li>-->
<!--          <form class="comment-form">-->
<!--            <input type="hidden" class="article-id">-->
<!--            <div class="row">-->
<!--              <div class="col-md-10 col-lg-9">-->
<!--                <strong>nana</strong>-->
<!--                <small><time>2022-01-01</time></small>-->
<!--                <p>-->
<!--                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>-->
<!--                  Lorem ipsum dolor sit amet-->
<!--                </p>-->
<!--              </div>-->
<!--              <div class="col-2 mb-3 align-self-center">-->
<!--                <button type="submit" class="btn btn-outline-danger" id="delete-comment-button">삭제</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="row">-->
<!--            <div class="col-md-10 col-lg-9">-->
<!--              <strong>nana</strong>-->
<!--              <small><time>2022-01-01</time></small>-->
<!--              <p>-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>-->
<!--                Lorem ipsum dolor sit amet-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="col-2 mb-3">-->
<!--              <button type="submit" class="btn btn-outline-danger" hidden>삭제</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->

<!--    </section>-->
<!--  </div>-->

<!--  <div class="row g-5">-->
<!--    <nav id="pagination" aria-label="Page navigation">-->
<!--      <ul class="pagination">-->
<!--        <li class="page-item">-->
<!--          <a class="page-link" href="#" aria-label="Previous">-->
<!--            <span aria-hidden="true">&laquo; prev</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="page-item">-->
<!--          <a class="page-link" href="#" aria-label="Next">-->
<!--            <span aria-hidden="true">next &raquo;</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pb-11 pt-7 bg-600">

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="font-sans-serif text-primary fw-bold">Course detail</h6>
            <h1 class="mb-6">User Research for User Experience Design</h1>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section style="margin-top:-18.5rem">

      <div class="container">
        <div class="row">
          <div class="col-md-8"><!--<img class="w-100" src="assets/img/gallery/ux-designer.png" alt="..." />-->
            <h1>Description</h1>
            <p>The online Master of Computer and Information Technology degree (MCIT Online) is an online masters degree in Computer Science tailored for non-Computer Science majors. Offered by the University of Pennsylvania, this new program brings the long-running, established on-campus MCIT degree online. The MCIT Online program empowers students without computer science backgrounds to succeed in computing and technology fields. MCIT Online students come from diverse academic backgrounds ranging from business and history to chemistry and medicine.</p>
            <p>Computer science might not be in your past, but it will be in your future. Technology has an immense impact on our lives, and is creating fields and positions that didn’t exist five years ago. Equipped with a competitive computer science degree, MCIT Online graduates will be uniquely positioned to fill roles in finance, healthcare, education, and government, as well as in the core software development industry. Exposure to real-world projects throughout the program will prepare students to utilize skills that positively impact society.</p>
            <h1>What You’ll Learn?</h1>
            <ul class="list-unstyled">
              <li class="mb-3"> <i class="fas fa-check text-info me-2"></i><strong>Ivy League Quality</strong>&nbsp;A first-of-its-kind program that offers an Ivy League master’s degree in Computer Science designed for non-CS majors.</li>
              <li class="mb-3"> <i class="fas fa-check text-info me-2"></i><strong>Built Around Your Schedule The coursework</strong>&nbsp;is 100 percent online. You’ll benefit from the same high-quality instruction as on-campus students and graduate with the same degree. The diploma does not indicate whether the degree was earned online or on-campus.</li>
              <li class="mb-3"> <i class="fas fa-check text-info me-2"></i><strong>Accessible Pricing The cost of the MCIT Online degree</strong>&nbsp; is significantly less than on-campus alternatives and most online master’s degrees in Computer Science. Students pay $2,640 per course unit for a total of 10 courses units. Tuition and fees are posted as a guide and may be subject to change.</li>
              <li class="mb-3"> <i class="fas fa-check text-info me-2"></i><strong>Try before you apply Penn Engineering</strong>&nbsp; offers an online Specialization, Introduction to Programming with Python and Java, on Coursera to help you decide whether the MCIT Online program is the right fit before you apply. </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Enrolled </strong>: 1200 students</li>
                <li class="list-group-item"><strong>Duration </strong>: 2 hours</li>
                <li class="list-group-item"><strong>Lectures </strong>: 8</li>
                <li class="list-group-item"><strong>Categories </strong>: Technology</li>
                <li class="list-group-item"><strong>Level </strong>: Intermediate Level</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

  <footer id="footer">
    헤더 삽입부
  </footer>
</main>

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="/js/vendor/@popperjs/popper.min.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/js/vendor/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/js/vendor/fontawesome/all.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/user/login.js"></script>

<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</body>
</html>