<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>comeit(커밋)</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicons/favicon.ico">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" />

</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

    <header id="header">
        헤더 삽입부
    </header>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pb-11 pt-7 bg-600">

        <div class="container z-index-1">
            <div class="row">
                <div class="col-12">
                    <h6 class="font-sans-serif text-primary fw-bold">Course category</h6>
                    <h1 class="mb-6">Web Development</h1>
                    <form class="row g-3">
                        <div class="col-sm-5 col-custom">
                            <label class="form-label" for="inputCategories">모집여부</label>
                            <select class="form-select" id="inputCategories">
                                <option selected="selected">전체</option>
                                <option value="1">모집중</option>
                                <option value="2">모집완료</option>
                            </select>
                        </div>
                        <div class="col-sm-5 col-custom">
                            <label class="form-label" for="inputLevel">주제</label>
                            <select class="form-select" id="inputLevel">
                                <option selected="selected">전체</option>
                                <option value="1">Java</option>
                                <option value="2">Python</option>
                                <option value="3">React</option>
                                <option value="4">CS</option>
                                <option value="5">코딩테스트</option>
                                <option value="6">그 외</option>
                            </select>
                        </div>
                        <div class="col-sm-5 col-custom">
                            <label class="form-label" for="inputLanguage">장소</label>
                            <select class="form-select" id="inputLanguage">
                                <option selected="selected">전체</option>
                                <option value="1">온라인</option>
                                <option value="2">오프라인</option>
                            </select>
                        </div>
                        <div class="col-sm-5 col-custom">
                            <label class="form-label" for="inputInstructor">모집인원</label>
                            <select class="form-select" id="inputInstructor">
                                <option selected="selected">전체</option>
                                <option value="1">5명 이하</option>
                                <option value="2">10명 이하</option>
                                <option value="3">15명 이하</option>
                                <option value="4">20명 이하</option>
                                <option value="5">20명 초과</option>
                            </select>
                        </div>
                        <div class="col-custom col-sm-5 mt-5">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pb-0" style="margin-top:-17rem">
        <div class="container">
            <div class="row">
                <div class="mb-sm-4">
                    <button class="btn btn-primary" onclick="location.href='studies/write'" id="write" style="float: right;" type="button">글쓰기</button>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"><img class="card-img-top w-100" src="img/gallery/design.png" alt="courses" />
                        <div class="card-body">
                            <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">User Research for User Experience Design</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="#!">The Museum of Modern Art</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"><img class="card-img-top w-100" src="img/gallery/psychology.png" alt="courses" />
                        <div class="card-body">
                            <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Buddhism and Modern Psychology</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="#!">The Museum of Modern Art</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"><img class="card-img-top w-100" src="img/gallery/philosophy.png" alt="courses" />
                        <div class="card-body">
                            <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Introduction to Philosophy</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="#!">Duke University</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"><img class="card-img-top w-100" src="img/studies/java.png" alt="courses" />
                        <div class="card-body">
                            <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Advance on Seeing Through Photographs</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="#!">Duke University</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"><img class="card-img-top w-100" src="img/studies/python.png" alt="courses" />
                        <div class="card-body">
                            <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">Think Again I: How to Understand Arguments</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="#!">The Museum of Modern Art</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100"><img class="card-img-top w-100" src="img/studies/react.png" alt="courses" />
                        <div class="card-body">
                            <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">User Research for User Experience Design</h5><a class="text-muted fs--1 stretched-link text-decoration-none" href="#!">The Museum of Modern Art</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <section>
    </section>

    <footer id="footer">
        푸터 삽입부
    </footer>

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="/js/vendor/@popperjs/popper.min.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/js/vendor/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/js/vendor/fontawesome/all.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/user/login.js"></script>

<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</body>

</html>