<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>comeit(커밋)</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicons/favicon.ico">
  <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">

  <link href="/css/theme.css" rel="stylesheet" />
</head>
<body>
<main class="main" id="top">

  <section style="padding-top: 4rem; padding-bottom: 4rem;">
    <div class="container">
      <div class="row">
        <form id="study-form" method="POST">
          <div class="message">
            <div class="centered">
              <textarea class="titleArea" placeholder="제목을 입력하세요"></textarea>
            </div>
          </div>
          <textarea class="contentArea" name="text" id="editor"></textarea>
          <div class="mt-sm-4" style="float: right;">
            <a class="btn btn-primary order-1 order-lg-0 bg-100 me-lg-2" id="cancel-button">취소</a>
            <button class="btn btn-primary order-1 order-lg-0 ms-sm-2" type="submit" id="submit-button">등록</button>
          </div>
        </form>
      </div>
    </div>
  </section>

</main>

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="/js/vendor/@popperjs/popper.min.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/js/vendor/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/js/vendor/fontawesome/all.min.js"></script>
<script src="/js/user/login.js"></script>
<script src="/js/editor/build/ckeditor.js"></script>
<script>
  ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</body>
</html>